/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS MOBILE DEVICES */
*#dm *.d-page-1716942098 DIV.dmInner{
background-repeat:no-repeat !important;
background-size:cover !important}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight{
background-repeat:no-repeat !important;
background-image:none !important;
background-size:cover !important}
*#dm *.dmBody div.u_1680490855{
float:none !important;
top:0 !important;
left:0 !important;
width:343px !important;
position:relative !important;
height:auto !important;
padding-top:2px !important;
padding-left:0 !important;
padding-bottom:2px !important;
margin-right:auto !important;
margin-left:auto !important;
max-width:100% !important;
margin-top:0 !important;
margin-bottom:0 !important;
padding-right:0 !important;
min-width:0 !important;
text-align:left !important}
