/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
body.dmDesktopBody .d-header-wrapper
{
	display:none !important;
}
body.dmDesktopBody .popupNavBox
{
	display:none !important;
}
*.dmTabletBody #dm .d-page-1716942098 DIV.dmInner
{
	background-attachment:initial !important;
}
*#dm *.dmBody div.u_1587946355
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:753px !important;
	margin-top:0 !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1471468487
{
	padding-left:80px !important;
	padding-right:0 !important;
	padding-top:50px !important;
	padding-bottom:0 !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	height:auto !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	min-width:0 !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1957784307
{
	width:calc(100% - 0px) !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	position:relative !important;
	height:auto !important;
	padding-top:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-right:17.125px !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:100px !important;
	min-width:25px !important;
	text-align:center !important;
}
*#dm *.dmBody div.u_1045285671
{
	padding-top:0 !important;
	margin-left:0 !important;
	padding-left:0 !important;
	padding-bottom:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	margin-right:0 !important;
}
*#dm *.dmBody div.u_1680490855
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:229.5px !important;
	margin-left:0 !important;
	max-width:381px !important;
	margin-top:47px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.dmBody div.u_1665329182
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:0 !important;
	margin-left:0 !important;
	max-width:508px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:left !important;
}
*#dm *.d-page-1716942098 DIV.dmInner
{
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-attachment:fixed !important;
	background-position:50% 50% !important;
	background-color:rgba(243,243,243,1) !important;
	background-image:url(https://irp-cdn.multiscreensite.com/e8f6b8c1/dms3rep/multi/bg-v7.jpg) !important;
}
*#dm *.d-page-1716942098 DIV#dmSlideRightNavRight
{
	background-repeat:no-repeat !important;
	background-image:url(https://irp-cdn.multiscreensite.com/e8f6b8c1/dms3rep/multi/bg-v7.jpg) !important;
	background-size:cover !important;
	background-attachment:initial !important;
	background-position:50% 50% !important;
	background-color:rgba(243,243,243,1) !important;
}
*#dm *.dmBody div.u_1237155122 .dmformsubmit
{
	height:50px !important;
}
*#dm *.dmBody div.u_1237155122
{
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:416px !important;
	position:relative !important;
	height:auto !important;
	padding-top:0px !important;
	padding-left:0px !important;
	padding-bottom:0 !important;
	margin-right:auto !important;
	margin-left:-15px !important;
	max-width:100% !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody a.u_1112677442
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:41px !important;
	padding-top:0px !important;
	padding-left:40px !important;
	padding-bottom:0px !important;
	margin-right:686px !important;
	margin-left:0px !important;
	max-width:140px !important;
	margin-top:0px !important;
	margin-bottom:10px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
	display:block !important;
}
*#dm *.dmBody div.u_1237155122 input[type="submit"]
{
	font-size:16px !important;
}
